<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/module.css">
    <title>Document</title>
    <style>
    </style>
    <style>
    </style>
</head>

<body>
    <div class="layout">
        <header id="header" class="mmm_header mui-bar mui-bar-nav">
            <h1 class="mui-title">导航栏</h1>
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <a class="mui-icon mui-icon-bars mui-pull-right"></a>
        </header>
        <div class="mmm_content">
            <!-- 导航菜单 -->
            <div class="nav">
                <ul>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                    <li><a href="javascript:;">占位置</a></li>
                </ul>
            </div>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
            <p>内容位置</p>
        </div>
        <div class="mmm_footer">
            <div class="footTop">
                <a href="javascript:;">登录</a>
                <a href="javascript:;">注册</a>
                <a href="javascript:;"><span class="mui-icon mui-icon-pulldown"></span>返回顶部</a>
            </div>
            <div class="footbom">
                <p><a href="https://a.app.qq.com/o/simple.jsp?pkgname=com.manmanbuy.bijia">手机APP下载</a>慢慢买手机版--掌上比价平台</p>
                <a href="../index.html">m.manmanbuy.com</a>
            </div>
        </div>
    </div>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/iscroll/iscroll.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>