.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.mmm_header {
  height: 45px;
  background-color: #eee;
  padding: 4px;
}
.mmm_content {
  flex: 1;
  overflow: scroll;
}
.mmm_footer .footTop {
  display: flex;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.mmm_footer .footTop a {
  flex: 3;
  border-right: 1px solid #999;
  line-height: 30px;
  text-align: center;
  color: #666;
}
.mmm_footer .footTop a:nth-of-type(3) {
  flex: 4;
  border: none;
}
.mmm_footer .footTop a:nth-of-type(3) span {
  transform: rotate(180deg);
  line-height: 30px !important;
}
.mmm_footer .footbom {
  padding: 20px 0;
  text-align: center;
}
.mmm_footer .footbom > p {
  font-size: 13px;
  color: #666;
  line-height: 1em;
}
.mmm_footer .footbom > p a {
  color: #007bff;
  padding-right: 5px;
  font-size: 14px;
}
.mmm_footer .footbom > a {
  color: #666;
  font-size: 13px;
  line-height: 1em;
}
